* {
    box-sizing: border-box;
}

body {
    background-color: #EFF3F4;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}
.row {
    display: flex;
    align-items: center;
}


:root {
    --primary-color--font: #181D19;
    --primary-color--font2: #ababab;
    --primary-color--font3: #FEFEFD;
    --primary-color--bg: #879FFF;
}

.root {
    gap: 23px;
    align-items: flex-start;
}


.sidebar_menu {
    border-radius: 18px 0px 0px 18px;
    background: #fff;
    padding: 21px 25px;
    width: 275px;
    height: auto;
}


.infor__user {
    margin-bottom: 35px;
}

.infor__user--img {
    width: 60px;
    height: 60px;
    margin-right: 7px;
}

.infor__user--img>img {
    object-fit: cover;
}

.infor--title__name {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 400;
}

.infor--title__desc {
    margin-top: 4px;
    color: var(--primary-color--font2);
    font-size: 1.4rem;
    font-weight: 400;
}

.main__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__menu--li {
    width: 224px;
    height: 54px;
    padding-left: 30px;
    transition: all 0.5s ease-in-out;
}

.main__menu--li:hover {
    border-radius: 13px;
    background: var(--primary-color--bg);
}

.main__menu--li__action {
    transition: color 0.5s ease-in-out;
}

.main__menu--li:hover>.main__menu--li__action {
    color: #FEFEFD;

}

.main__menu--li__action:hover>svg>path {
    fill: #fff;
    stroke: #fff
}

.main__menu--li__action {
    gap: 29px;
    color: var(--primary-color--font);
    font-size: 1.8rem;
    font-weight: 500;
}

.main__menu--line {
    height: 2px;
    background: rgba(171, 171, 171, 0.60);
    margin-top: 50px;
    margin-bottom: 36px;
}

/* ==========header================= */


.header {
    margin-top: 23px;
    width: 100%;
    justify-content: space-between;
  
}

/* header__name  */

.header__namePage {
    color: var(--primary-color--font);
    font-size: 2.8rem;
    font-weight: 600;
}

.header__date {
    color: var(--primary-color--font2);
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 11px;
}

/* header__atc  */



.header__atc {
    margin-right: 26px;
    gap: 24px;
}

.form__group {
    position: relative;
}

#search {
    width: 233px;
    height: 30px;
    padding-left: 12px;
    outline: none;
    border: none;
    border-radius: 999px;
}

.icon_input {
    position: absolute;
    left: 12px;
    gap: 10px;
}

.turn {
    padding: 4px;
    border-radius: 999px;
    background: #EDEDED;
}

.box__chat {
    padding: 12px;
    background: #EDEDED;
    border-radius: 50%;
}

.user__admin {
    gap: 10px;
}

.user__title {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 500;
}




/*  main notify */

.main {
    margin-top: 44px;
    align-items: flex-start;
}


/* total product */
.box-total {
    gap: 12px;
    flex-grow: 1;
    /* background-color: #fff; */
    justify-content: space-between;
}

.total_product {
    height: 129px;
    width: 33%;
    border-radius: 13px;
    background: #fff;
    align-items: flex-start;
    gap: 26px;
    color: var(--primary-color--font3);
}

.total_product:hover {
    background-color: var(--primary-color--bg);
    color: #fff;
}

.total_product:hover .total_product__content--title {
    color: #fff;
}

.total_product:hover .total_product__content--qty {
    color: #fff;
}

.total_product:hover .total_product__content--desc {
    color: #fff;
}

.total_product__content {
    gap: 17px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 17px;
}

.total_product__icon {
    margin-left: 12px;
    margin-top: 17px;
}



.total_product__content--title {
    color: var(--primary-color--font);
    font-size: 2rem;
    font-weight: 500;
}


.total_product__content--qty {
    color: var(--primary-color--font);
    font-size: 2.4rem;
    font-weight: 500;
}

.total_product__content--desc {
    color: var(--primary-color--font);
    font-size: 1.1rem;
    font-weight: 500;
}

.notify {
    width: 251px;
    background-color: #fff;
    height: 100vh;
}