.input {
    color: #000;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus+.input-border {
    width: 100%;
}

.form-control {
    position: relative;
    --width-of-input: 100%;
}

.input-alt {
    font-size: 1.4rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus+.input-border-alt {
    width: 100%;
}

.form-group {
    gap: 20px;
}

/* form add loại hàng */

.form_group__input{
    padding: 10px 210px 10px 17px;
    border-radius: 6px;
    border: 0.5px solid #ABABAB;
    margin-top: 6px;
    outline: none;
}

.form_group__loaihang--Cancle{
    padding: 8px 33px;
    background: #fff;
    border-radius: 6px;
    border: 3px solid #ABABAB;
    margin-right: 25px;
    margin-top: 18px;
}
.form_group__loaihang--them{
    padding: 8px 33px;
    border-radius: 6px;
    border: 3px solid #ABABAB;
    background: #D9D9D9;
}