* {
    box-sizing: border-box;
}

:root {
    --primary-color: #F4E869;
    --font-heading: Sen, sans-serif;
    --primary-color-font: #078ACA;
    --primary-color-btn: #FFE736;
    --primary-color-bgc: #50C5F7;
    --primary-boder: 12px;
    --primary-color--font: #000;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    background-color: #00BAFF;
    /* background: linear-gradient(180deg, #00BAFF 0%, rgba(0, 186, 255, 0.00) 100%); */
    /* background: linear-gradient(180deg, rgba(0, 186, 255, 0.47) 0%, rgba(0, 186, 255, 0.00) 100%); */
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 27.72%, rgba(0, 186, 255, 0.00) 100%); */
    background: linear-gradient(180deg, rgba(208, 244, 255, 0.66) 12.49%, rgba(0, 186, 255, 0.64) 100%);
}

/* Common */
.icon__Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.option {
    padding: 6px;
    border-radius: 6px;
    outline: none;
    margin-right: 12px;
}

.main--login {
    position: relative;
}

.logo-main--login {
    position: absolute;
    top: 20%;
    left: 10%;
}

.notification {
    padding-top: 10px;
    padding-left: 8px;
    color: #f00;
    font-size: 1.6rem;
    font-weight: 400;
}

.row {
    display: flex;
    align-items: center;
}

.main-content {
    max-width: calc(100% - 48px);
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 2.6rem;
    line-height: 1.26;
}



.container {
    display: flex;
}

.main-content .line {
    text-align: center;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-1 {
    width: 100px;
    --line-clamp: 1;
}

.none {
    display: none;
}

/* .break-all {
    word-break: break-all;
} */

/* input */

input {
    outline: none;
    font-family: inherit;
}

.input-text {
    position: relative;
}

.input-text__search {
    padding-left: 12px;
}



.input-text input,
.input-text label {
    font-size: 1.4rem;
}

.input-text input {
    width: 361px;
    padding: 8px;
    padding-left: 22px;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.2s;
}

.input-text input:focus {
    border-color: var(--primary-color-bgc);
}

.input-text input:focus .icon_search {
    opacity: 0;
}

.input-text input:focus+label,
.input-text input:not(:placeholder-shown)+label {
    translate: 0 -38px;
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;

}

.input-text input:focus+label {
    color: var(--primary-color-bgc);
}

.input-text label {
    position: absolute;
    top: 50%;
    left: 7px;
    padding: 0 5px;
    translate: 0 -50%;
    color: #666;
    transition: translate, color, text-shadow;
    transition-duration: 0.2s;
    pointer-events: none;
    font-style: italic;
}

.icon_search {
    margin-right: 10px;

}

/* Header */
.header {
    /* padding: 12px 0px; */
    height: auto;
    background: var(--primary-color-font);
    display: flex;
    justify-content: center;
    align-items: center;

}

.header.fixed {
    position: sticky;
    top: -10px;
    z-index: 2000;
}

.header__head {
    background: #50C5F7;
}

.head__discover {
    margin-left: 53px;
    color: var(--primary-color);
    text-align: center;
    text-shadow: 2px 5px 6px #FFF;
    font-size: 1.8rem;

    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1.44px;
}

.head__content {
    padding: 9px;
    gap: 152px;
    justify-content: space-between;
}

.nav__menu {
    gap: 26px;
}

.nav__li {
    padding: 9x;
}

.nav__li a {
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;

}

.nav__li:hover a {
    color: #000;
    font-weight: 600;
}

.header .header__body {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: space-between;
}

.header .header__body .logo {
    padding-top: 10px;
}

/* ship header */
.ship__icon {
    margin-right: 6px;
}

.ship__title {
    color: var(--primary-color);
    text-align: center;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.72px;
}


.header-inner {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

/* Cart btn */
.cart-btn {
    position: relative;
    padding: 10px 0;
    margin-left: auto;
    color: #fff;
    font-size: 20px;
}

.cart-btn:hover .cart-preview {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

/* Cart preview */
.cart-preview {
    position: absolute;
    top: 66px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    padding: 10px 0px 10px;
    border-radius: 3px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    background: rgba(255, 255, 255, 0.90);
    transform-origin: 93% top;
    scale: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s, scale 0.2s;

}

.cart__scroll {

    min-height: auto;
    max-height: 350px;
    overflow-y: auto;
    margin-left: 0px;
}

/* Cart arrow top */
.cart-preview::before {
    content: '';
    position: absolute;
    top: -18px;
    right: 8px;
    border: 10px solid;
    border-color: transparent transparent #fff;
}

.cart-message {
    color: #333;
    font-size: 14px;
}


/* hostline */


.hostline {
    flex-direction: column;
}

.hostline__phone {
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 3.3px;
}

.hostline__desc {
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;

    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
}

/* sign-up-btn */


.sign-up-btn {
    color: var(--primary-color-font);
    background-color: #fff;
    border-radius: 12px;
}

/* action__cart */
.Action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
}

.action__cart {
    position: relative;
}

.total-cart {
    position: absolute;
    left: 15px;
    bottom: 25px;
    color: #f00;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
    width: 15x;
}

/* Hero */

.hero {
    background: #50C5F7;
    height: auto;
}

/* catalog hero */

.catalog {
    gap: 40px;
    justify-content: space-between;
}

.catalog__log:first-child {
    background-color: #277699;
    padding: 8px 34px 8px 0px;
}


.log__atc {
    flex-direction: row;
    gap: 9px;
}

.log__atc--title {
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}

/* main-hero */


.main-hero {
    /* padding-left: 235px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 456px;
}

/* navbar */

.navbar {
    position: absolute;
    width: 235px;
    flex: 1;
    display: inline-block;
    background: rgba(255, 255, 255, 0.80);
}

.navber__menu {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    z-index: 1000;
}

#catalogList {
    display: none;
}

.menu__catalog {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #fff;
}

.menu__catalog:hover {
    background-color: var(--primary-color-bgc);
}

.menu__catalog:hover>.menu__catalog--act .catalog__act--title {
    color: #fff;
}


.menu__catalog--act {
    gap: 16px;
}

.catalog__act--title {
    color: #15101D;
    font-size: 1.4rem;
    font-weight: 500;
}

/* baner */

.main-banner {
    margin-top: 10px;
    flex: 1;
    max-width: 100%;
}

.banner-rigth {
    /* margin-top: 10px; */
    margin-left: 10px;
    gap: 12px;
    flex: 1;
    flex-direction: column;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.banner-rigth img {
    width: 358px;
    height: 50%;
    border-radius: 12px;
}

.banner-catalog {
    width: 100%;
    object-fit: cover;
}

.banner__ngaoso {
    margin-top: 80px;
}

.banner__bottom {
    /* background: var(--primary-color-btn); */
    margin-top: 28px;
    padding: 48px 0px;
    /* height: 150px; */
}

.banner-baore {
    width: 100%;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 20px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #333;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 2;
    gap: 4px;
    margin-top: 55px;
}

.popular .course-item {
    position: relative;
    flex: 1;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.80);
    transition: scale 500ms ease-in-out, color 200ms ease-out;
    box-shadow: 0px 0px 2px 0px var(--primary-color-bgc);
    padding: 5px;
    margin-bottom: 2px;
    border: none;
}

.popular .course-item:hover {
    scale: 1.05;
    z-index: 1000;
}

.course__images {
    /* width: 230px; */
    height: 212px;
    position: relative;
}

.course_sale {
    position: absolute;
    right: -10px;
}

.course-item__sale {
    position: absolute;
    background-color: #f23611;
    font-size: 0.8rem;
    padding: 6px 12px;
    color: #fff;
    right: 0px;

    /* width: 12px; */
}



.course_sale--title {
    position: absolute;
    left: 0;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 600;
}

.popular .course-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 20px;
    /* background-color: #fff; */
    box-shadow: 0px 0px 2px 0px #ccc;

}


.popular .course-item .line-clamp {
    color: #000;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.popular .course-item .foot .price {
    color: var(--primary-color-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-all;
    /* text-transform: lowercase; */
}

.popular .course-item .foot .rating {
    position: absolute;
    top: 0;
    left: 0;
}

.popular .value {
    position: absolute;
    top: 22px;
    left: 15px;
    rotate: -45deg;
    color: #F00;
    text-shadow: 0px 2px 9px #FCE75F;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 0.27px;
}

.price-del {
    color: #171100;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 14px;
    text-decoration-line: strikethrough;
}

.popular .course-item .foot .rating .star {
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

}

.foot {
    padding: 0px 5px;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 9px;
}

.foot .type {
    white-space: nowrap;
    color: var(--primary-color-font);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 9px;
}

.info {
    margin-top: 15px;
    flex-direction: column;
    gap: 14px;
    padding: 3px;
}


.popular .course-item .body {
    width: 100%;
    padding: 0px 5px;
    gap: 10px;
    justify-content: space-between;
}

.icon__addCart {
    opacity: 1;
    cursor: pointer;
    transition: opacity 500ms ease-in-out;
}

.popular .course-item:hover .icon__addCart {
    opacity: 1;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}


.popular .course-item .book-btn {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 173px;
    left: 0;
    width: 100%;
    border-radius: 0px;
    background: var(--primary-color-bgc);
    line-height: 2.5;
    border: none;
    color: #fff;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}


.popular .course-item:hover .book-btn {
    opacity: 0.85;
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-weight: 700;
    font-size: 2.4rem;
    color: #f7f7f7;
    margin-bottom: 20px;
    line-height: 2;

}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {

    margin-left: 30px;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 286px;
    height: 286px;
    border-radius: 16px;
    object-fit: cover;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color-font);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto auto;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 16px;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: var(--primary-color-font);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}


.btn__blog {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Footer */
.footer {
    padding: 34px 104px 0px 96px;
    background: #E3E3E3;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #105D8E;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
    align-items: center;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #105D8E;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #105D8E;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #105D8E;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #105D8E;
}

/* product */
p {
    margin-bottom: 0px;
}

.main-product--row {
    margin-top: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* main-product__img */


.main-product__img {
    margin-right: 56px;
    width: 60%;
}

.main-product__img--top-img {
    width: 100%;
    height: 368px;
    object-fit: cover;

}

.main-product__img--top {
    width: 100%;
    position: relative;
}

.main-product__img--top-img {
    object-fit: contain;
}

.main-product__icon--left {
    position: absolute;
    top: 149px;
    left: -36px;
    z-index: 1000;
}

.main-product__icon--right {
    position: absolute;
    top: 149px;
    right: -36px;
    z-index: 1000;
}

.main-product__img--bottom {

    width: 100%;
}


.main-product__img--bottom figure {
    width: 100%;
    display: flex;
    gap: 16px;
    z-index: -1000;
}

.main-product__img--bottom img {
    width: 18%;
    height: 130px;
    object-fit: cover;
}

.main-product__img--top-img {
    transition: opacity 0.5s ease-in-out;
}

/* main-product__content */
.main-product__content>.row {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.content__strong {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}

.content__desc {
    color: #555;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
}

.main-product__content {
    width: 40%;
    flex-direction: column;
}

.main-product__content--desc {
    gap: 10px;
}

.main-product__content--type {
    gap: 20px;
}

.main-product__content--pice {
    gap: 25px;
}

.content--type {
    padding: 12px 6px;
    /* border: 1px solid #555; */
    color: var(--primary-color--font);
    font-size: 2rem;
    font-weight: 500;
    /* line-height: 12px; */
    cursor: pointer;
}

.main-product__content--pice__cost {
    color: rgba(255, 224, 0, 0.79);
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.main-product__content--pice__del-cost {
    color: rgba(204, 204, 204, 0.79);
    font-size: 1.4rem;
    font-style: initial;
    font-weight: 700;
    line-height: 1;
}

.main-product__content--pice__sale {
    background-color: #7FD4F9;
    padding: 5px;
    color: #F00;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
}

.main-product__content--title {
    color: #101010;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;
}

.main-product__content--btn {
    justify-content: center;
    border: none;
    background-color: var(--primary-color-font);
    border-radius: var(--primary-boder);
}

.btn__act--Product {
    width: 473px;
    /* padding: 10px; */
    border-radius: var(--primary-boder);
    background-color: var(--primary-color-font);
    color: var(--primary-color-btn);
    font-weight: 600;
    font-size: 3rem;
    border: none;
}

.main-product__content--btn a {
    color: #FFE736;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1;
}

.main-product__content--btn-2 {
    justify-content: space-between;
    gap: 27px;
}

.main-product__content--btn-2>.btn {
    color: #fff;
    width: 50%;
    background-color: var(--primary-color-font);
    border-radius: var(--primary-boder);
}

.btn__add--Cart {
    width: 220px;
    border: none;
    background-color: var(--primary-color-font);
    border-radius: var(--primary-boder);
}

/* together--content__box */

.main-product__together--heading {
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
}

.main-product__together--content {
    margin-top: 15px;
}

.together--content__box {
    margin-top: 10px;
    margin-bottom: 10px;
}


.together--content__box--title {
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.main-product__together--btn {
    margin-left: auto;
    width: 212px;
    justify-content: right;
}


.main-product__together--btn>.btn {
    width: 100%;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    background-color: var(--primary-color-font);
    padding: 8px 0px;
    border-radius: 6px;
}

/* feedback */


.description {
    padding: 29px 0px;
    height: auto;
}

.description__btn {
    justify-content: center;
    gap: 50px;
}

.description__btn--btn {
    border: 1px solid var(--primary-color-font);
    border-radius: 6px;
    background-color: #fff;
}


.description__btn--act {
    border: #0F94F5;
    color: #000;
}

.description__content {
    display: flex;
    width: 814px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-top: 50px;
}

.description__content--item {
    justify-content: space-around;
    align-items: flex-start;
}

.description__content-img {
    width: 303px;
    height: 285px;
    object-fit: cover;
    border-radius: 16px;
}

.description__content--desc {
    width: 374px;
    text-align: right;
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 20px;
}

.description__content--hd {
    margin-bottom: 28px;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}

.description__content--item:nth-child(2) {
    flex-direction: row-reverse;
    align-items: center;
}

.description__content--item:nth-child(3) {
    align-items: flex-end;
}

.description__content--item:nth-child(2)>.description__content--desc {
    text-align: left;
}

.description__content--desc__list {
    margin-left: 20px;
    list-style: circle;
}

/* comment */


.comment__product {
    padding: 28px;
    background-color: #fff;
    align-items: flex-start;
    justify-content: center;
}

.comment__product__title {
    color: var(--primary-color--font);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 12px;
    text-transform: capitalize;
    /* 100% */
}


.content__comment {
    width: 100%;
    border-radius: 6px;
}

.comment__send {
    float: right;
    opacity: 0;
}

.comment__send--icon {
    float: right;
    margin-right: -32px;
    margin-top: 10px;
}

.content__comment {
    margin-top: 10px;
}

.history__comment {
    padding: 20px 14px;
    margin-top: 45px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 0.5px solid #ccc;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.history__comment--box {
    flex-direction: column;
    gap: 13px;
    align-items: flex-start;
}

.comment--box__nameUser {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 600;
    /* 100% */
}

.comment--box__content {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 400;
}

.comment__operation {
    gap: 13px;
}


.comment--box__reply,
.comment--box__like,
.comment--box__datetime {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
    /* 140% */
}


.box__reply--new {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.box__reply {
    padding: 20px;
    background-color: #dedede;
    border-radius: 12px;
    gap: 22px;
    flex-direction: column;
}

/* feedback-product */




.feedback-product {
    padding: 80px;
}


.feedback__heading {
    justify-content: center;
}

.feedback__heading--title {
    width: 548px;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
}

.feedback-content {
    justify-content: space-around;
    padding-top: 78px;
}

.feedback-content__item {
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.feedback-content__item--title {
    width: 357px;
    color: #000;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
}

.feedback-content__item--user {
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}


/* patner  */


.partner {
    margin-top: 100px;
    padding: 40px;
}

.partner__heading {
    justify-content: center;
}

.partner__heading--title {
    color: #000;
    font-size: 40px;

    font-weight: 800;
    line-height: 40px;
}

.partner__list-img {
    margin-top: 122px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


/* ======================================----------------------------cart===============--------------------=============- */


/* cart__content--heading */



.cart__content--heading {
    margin-bottom: 16px;
    padding: 6px 18px 5px;
    border-radius: 6px;
    border: 1px solid #2C7BA9;
    background: #FFF;
}

.cart--heading__left {
    gap: 50px;
}

.cart--heading__desc {
    width: 60%;
    gap: 32px;
    justify-content: right;
}

.cart--heading__select {
    width: 170px;
}

.check-all {
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 14px;

}

.cart--heading__favourite {
    gap: 5px;
}

.cart__favourite--title {
    color: #F24E1E;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    white-space: nowrap;
}

.cart--heading__select .check-all .heading--content {
    background-color: #65CDF9;
}

.heading-cart {
    margin-top: 87px;
}

.heading-cart__content {
    background-color: #2e9ed5;
    height: 62px;
    gap: 12px;
    padding-left: 12px;
}

.heading-cart__line,
.heading-cart__title {
    color: #fff;
}

.cart {
    margin-top: 43px;
    margin-bottom: 43px;
}

.cart__content {
    height: auto;
    width: 67%;
}




.main-cart {
    align-items: flex-start;
    gap: 19px;
}

.cart__content--item {
    margin-bottom: 20px;
    border-radius: var(--primary-boder);
    border: 0.4px solid #105D8E;
    background: linear-gradient(180deg, #7FD4F9 14.74%, #FFF9F9 27.4%);
    background-blend-mode: darken;
}

.cart__nav {
    padding: 19px 12px 0px 12px;
    justify-content: space-between;
}

.cart__nav--li {
    justify-content: right;
    gap: 10px;
}

.cart__nav--li span {
    color: #31605D;
    font-size: 1.2rem;

    font-weight: 400;
    line-height: 14px;
    text-decoration-line: underline;
}

.cart__nav--li p {
    font-size: 1.2rem;

    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
}


.cart__nav--li__catalog {
    color: #F00;
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 14px;
    text-decoration-line: underline;
}


.cart--item__box {
    justify-content: space-between;
    margin-top: 31px;
    padding: 10px 20px 10px 20px;
    gap: 38px;
}


/* cart--item__box */



.cart--item__box--img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.cart--item__desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart--desc__title {
    white-space: nowrap;
    font-size: 18px;

    font-weight: 500;
    line-height: 18px;
}

.cart--desc__classly {
    font-size: 1.2rem;

    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
}

.cart--desc__pice {
    font-size: 18px;

    font-weight: 400;
    line-height: 18px;
}

.cart--desc__pice::after {
    display: inline-block;
    content: "đ";
}

.cart--hendel {
    gap: 14px;
}

.cart--hendel>input {
    width: 60px;
}

.cart-total {
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 14px;
    overflow: visible;
}



.cart-operation>a {
    color: #F00;
    font-size: 1.4rem;

    font-weight: 300;
    line-height: 14px;
    text-decoration-line: underline;
}

/* cart--qty */


.cart--qty {
    width: 33%;
    /* background-color: #0F4542; */
    height: auto;
}

.temporary {
    display: flex;
    padding: 24px 19px;
    flex-direction: column;
    gap: 27px;
    border-radius: var(--primary-boder);
    border: 0.2px solid #A5C1D3;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px #7FD4F9;
}

.temporary-content {
    justify-content: space-between;
}


.temporary-content>strong {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
}

.temporary-content>span {
    font-size: 1.6rem;
    font-weight: 400;
}

.cart__pay {
    color: #FFF;
    margin-top: 21px;
    width: 100%;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 10px;
    background: rgba(46, 158, 213, 0.84);
}

/* total__order */


.total__order {
    justify-content: space-between;
}


.total__order--title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;
}

.total__order--pice {
    color: #F00;
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;
}

/* payment */



.btn-pay {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: var(--primary-boder);
    background: rgba(48, 133, 195, 0.84);
}




/* ========pay=========== */



.pay {
    margin-top: 28px;
    height: auto;
}



.pay__address {
    background-color: #fff;
    padding-left: 6px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    flex-direction: column;

}

.pay__address--top {
    gap: 14px;
}

.pay__address--title {
    font-size: 1.4rem;

    font-weight: 600;
    line-height: 2;
}

.pay__address--bottom {
    gap: 28px;
    margin-left: 85px;
}

.pay__address--bottom__heading {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    text-transform: capitalize;
}

.pay__address--desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    /* 100% */
    text-transform: capitalize;
}


.pay__address--btn {
    cursor: pointer;
    margin-left: 19px;
    /* background-color: #d9d9d9; */
    /* padding: 4px; */
}

.pay__address--btn a {
    color: #000;
    font-size: 1.4rem;

    font-weight: 275;
    line-height: 1;
}


.pay__address--btn:hover a {
    color: #f00;
}


/* pay-ment */


.pay-ment {
    margin-top: 31px;
    background-color: #fff;
    width: 100%;
}


.pay-ment__heading {
    font-size: 2.6rem;

    font-weight: 400;
    line-height: 2;
    /* 100% */
}

.pay-ment__head {
    background: #7FD4F9;
}

.pay-ment__body td {
    padding-top: 26px;

}

.pay-ment__body td {
    padding-bottom: 20px;
}



.pay-ment img,
.pay-ment td,
.pay-ment th {
    vertical-align: middle;
}


.pay-ment__bod--title {
    font-size: 1.8rem;

    font-weight: 500;
    line-height: 18px;
    /* 100% */
}

.pay-ment__bod--pice {
    font-size: 1.8rem;

    font-weight: 400;
    line-height: 1;
    /* 100% */
}

.pay-ment__bod--total {

    font-size: 1.;

    font-weight: 800;
    line-height: 14px;
    /* 77.778% */
}

.note {
    padding: 12px 10px;
    justify-content: space-around;
    align-items: center;
    height: 121px;
    border-top: 0.2px dashed #000;
    border-bottom: 0.2px dashed #000;
    background-color: #fff;
}

#note {
    margin-left: 10px;
    width: 338px;
    height: 27px;
}

.note__express {
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.note__express--time-Ship {
    margin-left: 38px;
    color: rgba(51, 51, 51, 0.80);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.note__express--bottom {
    margin-top: 25px;
}



/* delivery */
.delivery {

    margin-top: 56px;
    padding-top: 30px;
    background-color: #fff;
    /* height: 301px; */
}


.delivery__pay {
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 2px solid #ddd;
}


.delivery__pay--title {
    padding-left: 21px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 185.714% */
}

.delivery__pay--desc {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-right: 46px;
}

.delivery__pay--desc__title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}


/* delivery__total-qty */



.delivery__total-qty {
    margin-bottom: 47px;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
}

.delivery__total-qty--desc {
    margin-left: 52px;
    font-size: 1.2rem;
    font-weight: 400;
}

.delivery__total-qty--desc__action {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration-line: underline;
}

.delivery__total-qty--main {
    width: 326px;
    margin-top: 37px;
    margin-right: 23px;
}


.delivery__total-qty--main__row {
    margin-bottom: 32px;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 400;
}

.delivery__total-qty--main__row>span {
    font-size: 1.4rem;
    font-weight: 600;
    /* 70% */
}


/* login */

.login {
    margin: 0px;
    height: 900px;
    background-image: url(../img/img_bg_sign_re.png);
    background-size: cover;
}

.main-login {
    padding-top: 150px;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.action__name-user {
    opacity: 0;
    /* Ẩn ban đầu */
    position: absolute;
    transform: translate(-13%, 10%);
    color: #fff;
    transition: opacity 0.2s ease-in-out;

}

.action__incons:hover~.action__name-user {
    color: #fff;
    opacity: 1;
}

.notify__cart-empty {
    opacity: 0;
    /* Ẩn ban đầu */
    position: absolute;
    transform: translate(-13%, 10%);
    color: #fff;
    transition: opacity 0.2s ease-in-out;

}

.action:hover~.notify__cart-empty {
    color: #fff;
    opacity: 1;
}

/* ******************************form__login  *******************************/


.form__login {
    margin-top: 100px;
    width: 415px;
    height: auto;
    padding: 43px 25px;
    border-radius: var(--primary-boder);
    background: rgba(255, 255, 255, 0.67);
    flex-direction: column;
    gap: 24px;
}

.form__group {
    width: 100%;
    position: relative;
}

.form__group .full-name,
.form__group .pass {
    width: 100%;
    padding: 15px 0px 15px 16px;
    outline: none;
    border-radius: var(--primary-boder);
    border: none;
}

.form__group--title {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.form__group--desc {
    text-align: center;
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
}

.form__desc--one {
    color: #078FCA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.form__desc--tow {
    color: #EAE10E;
    font-size: 1.6rem;
    font-weight: 500;
}

.push__login {
    width: 100%;
    border-radius: var(--primary-boder);
    background: #0F94F5;
    border: none;

}

.form__group--register {
    color: var(--primary-color-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.forgot__Pass {
    margin-top: 6px;
    display: block;
    text-align: center;
}

.with__login {
    width: 100%;
    margin-top: 32px;
    justify-content: center;
    gap: 82px;
}

.form__group--1 {
    list-style: disc;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__desc {
    color: #15101D;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
}

.form__desc--hosline {
    color: var(--primary-color-font);
    font-size: 1.4re;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: underline;
}

/* proFile */
.main__content--forfile {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.proFile {
    margin-top: 24px;
    margin-bottom: 100px;
}

.proFile__sidebar {

    width: 25%;
}


.proFile__sidebar--top {
    align-items: center;
}

.sidebar--top {
    background-color: #fff;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar--top__left--img {
    width: 49px;
    height: 49px;
    object-fit: cover;
    border-radius: 50%;
}


.sidebar--top__left {

    width: 89px;
    padding: 19px 6px 6px 14px;
    flex-direction: column;
    gap: 8px;
}

.sidebar--top__left--id {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.sidebar--edit__proFile {
    color: f00;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    text-decoration-line: underline;
    white-space: nowrap;
    cursor: pointer;
}

.sidebar--edit__proFile>a {
    color: #BFBCB2;
}



.sidebar--top__right {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}



.sidebar--top__right--content {
    color: #15101d;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.sidebar--top__right--content:last-child {
    margin-bottom: 0;
}


.sidebar--bottom {
    width: 100%;
    margin-top: 24px;
}

.nav_sidebar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.nav_sidebar--li {
    width: 100%;
    border-bottom: 1px solid #000;
    background: #FFF;
    padding: 21px 0px 22px 30px;
}

.nav_sidebar--li:last-child {
    border-bottom: none;
}

.nav_sidebar--li:hover {
    background-color: var(--primary-color-bgc);
}

.nav_sidebar--li__a {
    color: #15101d;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.nav_sidebar--li__a {
    width: 100%;
}


.nav_sidebar--li:hover .nav_sidebar--li__a {
    color: #fff;
}

.proFile__change {
    height: auto;
    flex: 1;
}

.change__header {
    flex: 1;
    padding-left: 13px;
    height: 51px;
    background: #fff;
    gap: 15px;
}

.header__title {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
}


.change__main {
    padding: 10px 63px 10px 75px;
    height: auto;
    margin-top: 38px;
    background-color: #fff;
}

.change__proFile--full {
    margin-top: 33px;
    gap: 30px;
}

.change__group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.change__img--user {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.change__btn--img {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: var(--primary-color-bgc);
    border: none;
    padding: 7px 21px;
    border-radius: 6px;
}

/* change__proFile */
.line_change {
    height: 200px;
    width: 2px;
    background-color: #0F94F5;
}

.form-change {
    width: 60%;
}

.change__proFile {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 33px;
    gap: 42px;
}

.change__fullName {
    width: 213px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #f0f0f0;
    color: var(--primary-color--font);
}

.label__icon {
    position: absolute;
    right: 9px;
    top: 13px;
}

.label__icon::before {
    position: absolute;
    content: attr(data-animal-type);
    display: block;
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    top: -33px;
    left: -181px;
}


/* change__link */

.change__link {
    margin-top: -19px;
    flex: 1;
    flex-direction: column;
    gap: 49px;
    /* background-color: #000; */
}

.change__link--act {
    padding: 12px;
    gap: 20px;
    border-radius: 5px;
    background: #F0F0F0;
}

.change--link__title {
    color: var(--primary-color--font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.change__btn--full {
    float: right;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: var(--primary-color-bgc);
}

/* ***************yourCard***************** */


.yourCard {
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
}

.status {
    text-align: center;
}

.status-round {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #10ed4e;
}

.yourCard__header {
    height: 43px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);

}

.yourCard__header--content {
    border-top: 1px solid #f0f0f0;
}

.yourCard__header--content td {
    padding: 20px 0px;
    font-size: 1.4rem;
}

.yourCard__header--content th {
    padding: 20px 0px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}


.tfoot {
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 24px 10px 24px;
    background-color: #fff;
}

.note__yourCard {
    white-space: nowrap;
}

.rounds {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.desc-round {
    white-space: nowrap;
}

.round {
    display: flex;
}

.table__hover-cart {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table__hover-cart tr {
    margin-left: 8px;
}

.table__hover-cart td {
    color: #000;
    font-size: 1.6rem;
    padding: 10px;
    white-space: nowrap;
}

.viewCart {
    width: 100%;
    display: block;
    white-space: nowrap;
    position: absolute;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    background-color: var(--primary-color-bgc);
    position: fixed;
}

.imgCartView {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

/* forgot pass */

/* feadback */

#feedbackForm {
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(10%);
}

.toggleForm {
    /* height: 3em;
    width: 8em; */
    padding: 8px 16px;
    border: none;
    border-radius: 10em;
    background: var(--primary-color-font);
    font-size: 1.4rem;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
}

.toggleForm:hover {
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}



.boxFeadBack {
    position: relative;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

textarea {
    font-family: monospace;
    /* max-width: 190px; */
    outline: none;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f7fe;
    transition: .3s;
    color: #3b82f6;
}

textarea:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 0 4px #3b83f65f
}

.toggleFormSend {
    float: right;
    font-size: 1.6rem;
    background: var(--primary-color-font);
    color: white;
    padding: 8px 10px;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.toggleFormSend span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.toggleFormSend svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.toggleFormSend:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.toggleFormSend:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.toggleFormSend:hover span {
    transform: translateX(5em);
}

.toggleFormSend:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}



/* sileshow */




#slideshow-container {
    position: relative;
    /* max-width: 600px; */
    /* margin: auto; */
    overflow: hidden;
    width: 100%;
}

.slideshow-images {
    margin-top: -10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideshow-image {
    width: 100%;
    flex: 0 0 auto;
}

#main-image {
    display: block;
}

.button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 30px;
    padding: 10px;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
}


#next {
    right: 0;

    transform: translateY(-50%);
}

#prev {
    left: 0;
    transform: translateY(-50%);
}

#bottom-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: -30px;
    z-index: 2000;
}

.thumbnail-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: none;
    background: none;
}










/* Products */

.products {
    position: absolute;
    margin-top: 15px;
    width: 362px;
    overflow-y: auto;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    left: 0;
    top: 24px;
    display: none;
}


.product {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px 20px;
    height: auto;
}

.item_Product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.product:hover {
    background-color: #ddd;
}

.product img {
    width: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.product h4 {
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

.hide {
    display: none;
}